In [2]:
import pandas as pd

In [3]:
import numpy as np

In [6]:
print("DataFrame.apply function:\n")

info = pd.DataFrame([[2, 7]]*3 , columns=['P','Q'])
print("\nOriginal DataFrame:\n", info)

print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each column:\n",info.apply(np.sum, axis=0))

print("\nSum of each row:\n",info.apply(np.sum, axis=1))

DataFrame.apply function:


Original DataFrame:
    P  Q
0  2  7
1  2  7
2  2  7

Square root of DataFrame:
           P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

Sum of each column:
 P     6
Q    21
dtype: int64

Sum of each row:
 0    9
1    9
2    9
dtype: int64

In [8]:
info=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','2Z'])
print("\nOriginal DataFrame:\n", info)
print("\nMinimum and Maximum of each column:\n")

print(info.agg(['min','max']))

Original DataFrame:
    X  Y  2Z
0  1  5   7
1  2  7   8
2  3  6   9

Minimum and Maximum of each column:

     X  Y  2Z
min  1  5   7
max  3  7   9

In [24]:
print("\nDataFrame.Assign function:\n")

d2 = pd.DataFrame([['Dale', 123], ['Mark', 143]], columns = ['Emp' ,'ID'])
print("\nOriginal DataFrame:\n",d2)

d2['Age']=[35,40]

DataFrame.Assign function:


Original DataFrame:
     Emp   ID
0  Dale  123
1  Mark  143

In [25]:
print("\nAdding new column:\n",d2)
d=d2.assign(Sex=['Male','Male'])

print("\nAdding new column:\n",d)

Adding new column:
     Emp   ID  Age
0  Dale  123   35
1  Mark  143   40

Adding new column:
     Emp   ID  Age   Sex
0  Dale  123   35  Male
1  Mark  143   40  Male

In [26]:
print("\nDataFrame.Sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns = ['col3','col4'])
print(info)

info2=info.sort_index()

print("\nSort index:\n",info2)

DataFrame.Sort function:

       col3      col4
3 -0.331482 -0.259456
2 -0.216518 -1.133252
0 -1.222985 -0.034832
4  1.684594  1.619914
1  0.173629  0.122648

Sort index:
        col3      col4
0 -1.222985 -0.034832
1  0.173629  0.122648
2 -0.216518 -1.133252
3 -0.331482 -0.259456
4  1.684594  1.619914

In [27]:
info3 = info.sort_values(by='col3')

print("\nSort Values:\n",info3)

Sort Values:
        col3      col4
0 -1.222985 -0.034832
3 -0.331482 -0.259456
2 -0.216518 -1.133252
1  0.173629  0.122648
4  1.684594  1.619914

In [9]:
print("\nDataFrame.Merge function:\n")
left =pd.DataFrame({'id':[1,2,3,4,5],
                     'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
                     'sub':['sub1','sub2','sub4', 'sub6','sub5']})
right = pd.DataFrame({'id':[1,2,3,4,5],
                      'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
                      'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

NameError: name 'pd' is not defined

In [10]:
print("\nDataFrame.Merge function:\n")
left = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'sub':['sub1','sub2','sub4', 'sub6','sub5']})
right = pd.DataFrame({
'id':[1,2,3,4,5],
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'sub':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

DataFrame.Merge function:

NameError: name 'pd' is not defined