In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
emp = pd.Series(['Parker', 'John', 'Smith','William'])
id =pd.Series([102, 107, 109, 114])
frame = { 'Emp': emp, 'ID': id }
result = pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)
print("\n Extracting one column :\n")
print(result['Emp'])

Series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

 Extracting one column :

0     Parker
1       John
2      Smith
3    William
Name: Emp, dtype: object

In [12]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [13]:
print("\nDeleting one column:\n")
del result['Age']
print(result)

Deleting one column:

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

In [14]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [15]:
print("\n slice rows:\n",result[1:3])

 slice rows:
      Emp   ID
1   John  107
2  Smith  109

In [32]:
d2 = pd.DataFrame([['Dale', 123],['Mark', 143]], columns =['Emp','ID'])
print("\nAdding new row values:\n", result.append(d2))
print("\nDeleting particular row:\n",result.drop(1))

AttributeError: 'DataFrame' object has no attribute 'append'

In [33]:
d2 = pd.DataFrame([['Dale', 123],['Mark', 143]], columns =['Emp','ID'])
print("\nAdding new row values:\n", result.append(d2))
print("\nDeleting particular row:\n",result.drop(1))

AttributeError: 'DataFrame' object has no attribute 'append'